body{
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;
}
h3{
    font-size: 5rem;
    color: rgba(133, 119, 119, 0.329);
    text-align: center;
}
.bubble{
    position: absolute;
    border-radius: 50%;
    background-color: rgba(166, 167, 76, 0.7);
    opacity: 0;
    animation: anim 8s;
    filter: hue-rotate(0deg)
}

@keyframes anim{
    to{
        top:-250px;
        left: var(--left);
        opacity:1;
        filter: hue-rotate(720deg)

    }
}